{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <div class="row mb-3">
        <div class="col-lg-12">
            <h3>Create new Product</h3>
            {{ include('product/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
